{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}
<br>
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">

            <h3> Are you sure you want to delete "{{item}}"</h3>

            <form action="{% url 'delete_order' item.id %}" method="POST">
                {% csrf_token %}

                <a href={% url 'home' %} class="btn btn-warning">Cancel</a>
                <input class="btn btn-danger" type="submit" name="Confirm">
            </form>

        <div>
    <div>
<div>            
{% endblock %}